*{
    margin: 0px;
    padding: 0px;
}
.logo img{
    width:15%;
    height: 150px;
    background-color: rgba(11, 11, 11, 0.929);
    float: left;
}
.cname{
    width: 85%;
    height: 75px;
    background-color: rgba(11, 11, 11, 0.929);
    float: left;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 75px;
}
.menu{
    width: 85%;
    height: 75px;
    background-color: rgba(11, 11, 11, 0.929);
    float: left; 
    color: white;
}
.menu ul li{
    display: inline;
    line-height: 45px;
    margin-left:5px ;
    float:right;
    margin-right:5px ;
    padding: 15px;
}
li:hover{
    font-size: large;
    background-color: rgba(231, 15, 15, 0.497);
}
.snap{
    width: 100%;
    height: 200px;
    background-color: rgba(11, 11, 11, 0.929);
    float: left;
}
.d1{
    width:150px;
    height: 150px;
    background-color: rgba(0, 81, 255, 0.522);
    border: 2px solid gray;
    border-radius: 130px;
    float: left;
    margin: 20px;
    color: aliceblue;
    text-align: center;
    margin-left: 190px;
    margin-right: 100px;
    line-height:150px ;
}
.d1:hover{
    font-size: large;
    color: rgb(251, 152, 152);
    border: 5px solid gold;
    background-color: rgba(151, 9, 198, 0.755);
}
.content{
    width: 100%;
    height: 450px;
    background-color:rgba(127, 255, 212, 0.675) ;
    float: left;
}
.photos{
    font-size: larger;
    width: 19%;
    height:400px ;
    border: 2px ridge rgb(247, 251, 16);
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.453);
}
.footer
{
    background-color: rgb(248, 117, 30);
    width: 100%;
    height: 50px;
    float: left;
    line-height: 50px;
    color: aliceblue;
    text-align: center;
}